#topLevelNav{
  color: black;
    background-color: black;
}
#NavBarJPPLogo{
    height: auto;
    width: auto;
}

.navbar-default{
    font-size: 20px;
    margin: 0  !important;
}

.nav-link {
    color: white;
}